{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": false,
        "targets": { "node": "current" }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": {
          // 注意，要安装@babel/runtime-corejs3的包
          "version": 3,
          "proposals": true
        }
      }
    ]
  ]
}
